 /* 浏览器自带样式初始化 */
 body,
 div,
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 form,
 fieldset,
 input,
 textarea,
 p,
 blockquote,
 th,
 td {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   font-family: "微软雅黑";
   font-size: 16px;
 }
 /* 解决表头和表格体列的不对齐问题 */
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 fieldset,
 img {
   border: 0;
 }
 address,
 caption,
 cite,
 code,
 dfn,
 em,
 strong,
 th,
 var {
   font-style: normal;
   font-weight: normal;
 }
 ol,
 ul {
   list-style: none;
 }
 caption,
 th {
   text-align: left;
 }
 li {
   list-style: none;
 }
 input,
 img {
   border: none;
 }